*{
    margin: 0;
    padding: 0;
}

/* Styling Section 1 */

.section-1{
    background: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
}
.section-1-container{
    max-width: 800px;
    margin: 0 auto;
    color: white;
    padding: 150px 0 150px 0; 
}
.section-1-title{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
}
.section-1-text{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.btn-primary{
    font-size: 25px;
    padding: 20px;
    background: #FF5959;
    border: 0;
    border-radius: 5px;
    color: white;
    width: 200px;
    margin-left: 40%;
}